.tab {
	@include flex()
	width: 100%;
	border-bottom: 1rpx #f5f5f5 solid;
	background-color: #fff;
	box-sizing: border-box;
	&-scroll {
		flex: 1;
		height: 90rpx;
		box-sizing: border-box;
		overflow: hidden;
		&-box {
			@include flex(flex-start);
			height: 90rpx;
			box-sizing: border-box;
			&-item {
			  flex-shrink: 0;
			  padding: 0 20rpx;
			  color: #333333;
			  font-size: 28rpx;
				&.active {
				  color: $base-color;
				}
			}
		}
	}
	&-icons {
	  width: 90rpx;
	  position: relative;
	  @include flex(center);
	  &:after {
		content: "";
		position: absolute;
		height: 40rpx;
		left: 0;
		width: 2rpx;
		background-color: #ddd;
	  }
	}
}